
<template name="mainHeader">
  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <span class="logo-lg"><b>human</b>ATM</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <a target="_blank" href="http://staging.atixlabs.com:9923/" class="btn btn-info" style="margin-top: 7px; margin-right: 7px;">
                <i style="margin-right: 8px" class="fa fa-codepen"></i>
                Go To Contract Explorer
            </a>
        </ul>
      </div>
    </nav>
  </header>
</template>